@model Dashboard.Models.Category

@{
    ViewData["Title"] = "Details";
    ViewData["Header"] = "Category - Details";
}

<hr />


<div class="row mt5" style="margin-top:2rem;">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4><a asp-action="Index">Back to List</a></h4>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.name)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.name)
                    </dd>
                </dl>
                <button class="btn btn-primary tk_button_a">
                    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a>
                </button>
            </div>
        </div>
    </div>
</div>