@model Dashboard.Models.Product

@{
    ViewData["Title"] = "Create";
    ViewData["Header"] = "Products - Create";
}


<hr />

<div class="row mt5" style="margin-top:2rem !important">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4><a asp-action="Index">Back to List</a></h4>
            </div>
            <div class="card-body">
                 <form asp-action="Create" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="barcode" class="control-label">Barcode</label>
                        <input asp-for="barcode" class="form-control" />
                        <span asp-validation-for="barcode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="image" class="control-label">Image</label>
                        @* <input asp-for="image" class="form-control" /> *@
                        <input type="file" id="AddProductFile" class="form-control" name="myfile" onchange="
                            var postData = {
                                FileImage : 'AddProductFile',
                                FileImageError : 'AddProductImageError',
                                FileImageHidden : 'AddProductImageHidden'
                            };
                            APIUploadImage(postData);"
                        />
                        <span asp-validation-for="image" class="text-danger"></span>
                        <input type="hidden" asp-for="image" class="form-control" id="AddProductImageHidden" />
                        <span id="AddProductImageError" style="color: rgb(220,53,69);"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="category_id" class="control-label">Category</label>
                        <select asp-for="category_id" class ="form-control" asp-items="ViewBag.category_id"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="name" class="control-label">Name</label>
                        <input asp-for="name" class="form-control" />
                        <span asp-validation-for="name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="cost" class="control-label">Cost</label>
                        <input asp-for="cost" class="form-control" />
                        <span asp-validation-for="cost" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="price" class="control-label">Price</label>
                        <input asp-for="price" class="form-control" />
                        <span asp-validation-for="price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
