
@{
    ViewData["Title"] = "Upload";
}

<h1 class="section-header">
    <div>Upload</div>
</h1>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success alert-dismissible" style="margin-top:20px">
        @ViewBag.Message
    </div>
}
@*<form method="post" enctype="multipart/form-data" action="UploadToFileSystem">
    <input type="file" name="image" multiple required />
    <button type="submit" class="btn btn-primary">Upload to File System</button>
</form>*@

<form asp-action="UploadToFileSystem" enctype="multipart/form-data">
    <input type="file" name="image" />
    <button type="submit" class="btn btn-primary">Upload to File System</button>
</form>